<h1>Systems Analysis and Design 8th ed</h1>


<dl class="dl-horizontal">
<dt><strong>Name:</strong></dt>
<dd>Systems Analysis and Design 8th ed</dd>
<dt><strong>Price:</strong></dt>
<dd>300.0</dd>
<dt><strong>Description:</strong></dt>
<dd>The holy book for this</dd>
<dt><strong>Instock:</strong></dt>
<dd>true</dd>
<dt><strong>Category:</strong></dt>
<dd>2</dd>
</dl>

<div class="form-actions">
<a href="#" class="btn">Back</a>
<a href="b_carts" class="btn">Add to Cart</span></a>
</div>
